@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap');

@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import 'aos/dist/aos.css';

/* ---------- THEME COLORS ---------- */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@theme inline {

  --color-brand-purple:rgb(164, 92, 255);
  --color-brand-blue: rgb(50, 199, 255);
  --color-brand-cyan: #5EEAD4; 
  --color-brand-dark: #0B0F19;

  --color-brand-glow: rgba(94, 234, 212, 0.35); /* soft cyan glow*/
  --color-brand-purple-glow: rgba(167, 139, 250, 0.35);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 200, 5;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bg-brand-gradient {
  background-image: linear-gradient(to right, rgb(164, 92, 255), rgb(50, 199, 255));
}

.bg-brand-gradient-soft {
  background-image: linear-gradient(135deg, #7f5ce633, #60A5FA33, #5EEAD433);
}

.bg-brand-gradient-dark {
  background: radial-gradient(
    circle at center,
    rgba(50, 199, 255, 0.35),   /* Light Blue Glow */
    rgba(164, 92, 255, 0.35),   /* Light Purple Glow */
    #0b0f16 85%                 /* Fade to dark */
  );
}
/* ---------- DEFAULT BODY ---------- */
body {
  color: rgb(var(--foreground-rgb));
  background:black ;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*---------- SLIDER SECTION ----------*/
.slick-slider {
  margin-bottom: 0 !important;
}

.slick-dots {
  bottom: 10px !important; /* move inside the slider */
  padding: 0 !important;
  margin: 0 !important;
}
.slick-dots li.slick-active div {
  background-color: white !important; /* active dot white */
  opacity: 1 !important;              /* fully opaque */
  transform: scale(1.2);              /* optional: slightly larger */
}


